.idea
.DS_Store
__pycache__
._sync_2c46b49466d3.db
~$*
_localonly
*.rpp-bak
builddir

ShowControl/instance/

# PLUGIN:
SeamLess_Plugins/SeamLess_Client/Builds/
SeamLess_Plugins/SeamLess_Client/JuceLibraryCode/
*.config
*.creator
*.user
*.files
*.includes

# FAUST:
*.so
*.sc
