{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Pause and Resume{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <input type="submit" name="pause" value="Pause">
    <input type="submit" name="resume" value="Resume">
  </form>
  State:
  {% if state is sameas true %}
  <div>Schedule paused</div>
  {% elif state is sameas false %}
  <div>Schedule playing</div>
  {% endif %}

  <h1>Schedule</h1>
  <table>
  <tr><th>Time</th><th>Piece</th></tr>
  {% for s in schedule %}
  <tr><td>{{s[0]}}</td> <td>{{s[1]}}</td></tr>
  {% endfor %}
  </table>
{% endblock %}
