{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Play tracks{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <input type="submit" name="trailer" value="Trailer">
    <input type="submit" name="brunnen" value="Brunnen der Sonne">
    <input type="submit" name="sufi" value="Sufisonics">
    <input type="submit" name="oksus" value="Oksus">
    <input type="submit" name="datenerhebung" value="Datenerhebung">
    <input type="submit" name="iwillnotweep" value="I Will Not Weep">
    <input type="submit" name="liquidcontinent" value="Liquid Continent">
    <input type="submit" name="doublefeedback" value="Double Feedback">
    <input type="submit" name="thepassage" value="The Passage">
  </form>
{% endblock %}
