[Unit]
Description=Ambisonics Reverb Decoder
After=sound.target local-fs.target seamless_jack.service

[Install]
WantedBy=default.target

[Service]
Type=idle
PrivateTmp=true
ExecStart=/bin/sh -c 'ambdec_rev'
LimitRTPRIO=95
LimitRTTIME=infinity
LimitMEMLOCK=infinity
