[Unit]
Description=OSC Router
After=network.target wonder.service twonder.service decoder.service sc_mix.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
PrivateTmp=true
WorkingDirectory=/home/studio/hufo_system/OscRouter
ExecStart=python3 /home/studio/hufo_system/OscRouter/MAIN_oscrouter.py
LimitRTPRIO=95
LimitRTTIME=infinity
LimitMEMLOCK=infinity
User=studio
