[Unit]
Description=Ambisonics Decoder 3rd Order
After=sound.target local-fs.target seamless_jack@.service

[Install]
WantedBy=multi-user.target

[Service]
Type=idle
PrivateTmp=true
ExecStart=/bin/sh -c 'ambdec_3rd'
LimitRTPRIO=95
LimitRTTIME=infinity
LimitMEMLOCK=infinity
User=%i
