[Unit]
Description=SuperCollider mixer and encoder
After=sound.target local-fs.target

[Install]
WantedBy=multi-user.target

[Service]
Type=idle
PrivateTmp=true
ExecStart=/usr/local/bin/sclang /home/studio/hufo_system/SuperCollider/HuFo_SERVER.scd
LimitRTPRIO=95
LimitRTTIME=infinity
LimitMEMLOCK=infinity
User=%i

